.form-wrapper {
  padding: 2rem;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: var(--gray-900);
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  gap: 1rem;
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-align: start;
  color: var(--gray-900);
}

select,
input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
}

.form-input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
}

.form-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.message {
  position: relative;
  width: 100%;
  text-align: center;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 1rem;
  color: red;
}
