<div class="create-page">
  <div class="section">
    <span class="back" [routerLink]="['/users']"
      ><i class="uil uil-angle-left"></i
    ></span>
    <div class="constainer">
      <div class="create-page__page">
        <div>
          <h1>Create new user</h1>
          <form class="form" (ngSubmit)="onSubmit()" [formGroup]="formCreate">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                formControlName="username"
                type="text"
                placeholder="Testino"
                class="form-input"
                vali
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                formControlName="email"
                type="email"
                placeholder="testino@example.com"
                class="form-input"
              />
            </div>
            <div class="form-action">
              <button
                [disabled]="formCreate.invalid"
                type="submit"
                class="btn btn-success"
              >
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
